.App {
  text-align: center;
  display:flex;
  justify-content: center;
}

.errorMsg{
  color:red;
}

.sidebar{
  border: 1px solid black;
  width: 18%;
  height: 100vh;
  background-color: white;
}

.requireMsg{
  color:red
}

.renderData{
  margin-left: 20.5%;
  margin-top: -44%;
}
button{
  margin: 2px;
}
table{
  border:1px solid #ddd;
  border-collapse: collapse;
}
table th{
  border: 1px solid #ddd;
}
.tbl tr td {
  padding: 5px;
  border: 1px solid #ddd;
}

h1 {
  font: 2em 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.loading {
  margin: 20% 40%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: rgb(26, 22, 22);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
.btn{
  border:none;
  background: none;
  
}